.delete_task{
  position: absolute;
  right: 8px;
  top: 0;
  color: black;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.delete_task:hover{
  color: red;
}